<div id="main-wrapper">
  <div class="nav-bar">

  </div>
  <div id="page-wrapper"><h1> Current Blog Posts </h1>
  <div id="page-nav-bar">

    <ul>
      <li>
        <div class="page-nav-button-top"><%= link_to  '<i class="far fa-file"></i>'.html_safe, new_doc_path %></div>
        <div class="page-nav-button-bottom">NEW</div>
      </li>
      <li>
        <div class="page-nav-button-top"><%= link_to  '<i class="far fa-user"></i>'.html_safe, new_doc_path %></div>
        <div class="page-nav-button-bottom">LOGIN</div>
      </li>
    </ul>
  </div>

   <div class="title">

     </div>
    <% @docs.each do |doc| %>
    <div id="post-container">
      <div class="post-title">
        <h2> <%= link_to doc.title, doc %></h2>
        <p class="tiny-font left-align option"><%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_doc_path(doc) %>
        <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, doc_path(doc), method: :delete, data: { confirm: "Are you sure?" } %> </p>
      </div>
      <div class="post-content">
        <p><%= truncate(doc.content,length:150) %> </p>
        <div class ="post-footer">
        <p class="tiny-font left-align">Posted by USER</p>
        <p class="tiny-font right-align option"> <i class="far fa-clock"></i> <%= time_ago_in_words(doc.created_at) %> ago</p><br>
      </div>
      </div>
    </div>
    <% end %>
  <div id="page-footer"></div>
  </div>
</div>