<h1> <%= @doc.title %> </h1>
<p> <%= @doc.content %> </p>

<%= link_to "All Docs", docs_path %>
<%= link_to "Fix Docs", edit_doc_path(@doc) %>
<%= link_to "Trash It", doc_path(@doc), method: :delete, data: { confirm: "Are You Sure?" } %>