<h1> <%= @doc.title %> </h1>
<p> <%= @doc.content %> </p>

<%= link_to "All Docs", docs_path%>
<%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_doc_path(@doc) %>
<%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, doc_path(@doc), method: :delete, data: { confirm: "Are you sure?" } %>

